@font-face{font-family:'Bricolage Grotesque';font-weight:500;src:url(BricolageGrotesque.woff2) format('woff2');}
@font-face{font-family:'Bricolage Grotesque';font-weight:700;src:url(BricolageGrotesque.woff2) format('woff2');}
@font-face{font-family:'Bricolage Grotesque';font-weight:800;src:url(BricolageGrotesque.woff2) format('woff2');}
@font-face{font-family:'JetBrains Mono';font-weight:600;src:url(JetBrainsMono.woff2) format('woff2');}
@font-face{font-family:'JetBrains Mono';font-weight:800;src:url(JetBrainsMono.woff2) format('woff2');}